<p *ngIf ="!(books$ | async)">loading books...</p>
<br>
<button type ="submit" mat-raised-button color="primary" routerLink ="/add-book">Add book</button>
<br>
<br>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}} 
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}} <button mat-raised-button color="primary" (click)= deleteBook(book.id)>Delete</button> 
      <button mat-raised-button color="primary" [routerLink] = " '/add-book/' + book.id">Update</button> 
    </mat-expansion-panel>
  </mat-accordion>