<h1>{{btnText}}</h1>
<form #addPostForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder = "Title" [(ngModel)] = "title"
                       name = "title"
                       required 
                       #addTitle = "ngModel">
      <mat-error *ngIf="!(addTitle.valid || addTitle.pristine)">
        Title of the post is required
      </mat-error> 
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput placeholder = "Body" [(ngModel)] = "body" 
      name = "body"
      required
      #addBody = "ngModel">
      <mat-error *ngIf="!(addBody.valid || addBody.pristine)">
           Body of the post is required
          </mat-error> 
        </mat-form-field>
        <br> 
        <mat-form-field>
        <input matInput placeholder = "UserName" [(ngModel)] = "username" 
          name = "username"
          required
          #addUser = "ngModel">
          <mat-error *ngIf="!(addUser.valid || addUser.pristine)">
               The writer of this post is required
              </mat-error>  
    </mat-form-field>
    <div>
        <button type ="submit" mat-raised-button color="primary" [disabled]="!addTitle.valid && !addBody.valid && !addUser.valid">{{btnText}}</button>
    </div>
  </div>
</form>

