<h1>Add Book</h1>
<form #addBookForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder = "Title" [(ngModel)] = "title"
                       name = "title"
                       required 
                       #addTitle = "ngModel">
      <mat-error *ngIf="!(addTitle.valid || addTitle.pristine)">
        Title is required
      </mat-error> 
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput placeholder = "Author" [(ngModel)] = "author" 
      name = "author"
      required
      #editAuthor = "ngModel">
      <mat-error *ngIf="!(editAuthor.valid || editAuthor.pristine)">
           Author is required
          </mat-error>  
    </mat-form-field>
    <div>
        <button type ="submit" mat-raised-button color="primary" [disabled]="!addTitle.valid && !editAuthor.valid">{{buttonText}}</button>
    </div>
  </div>
</form>
