<button mat-button (click)="addAllPosts()" >Save to FireStore</button>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}} 
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{post.body}}  
       <div *ngFor = "let user of Users$">
         <div *ngIf = "user.id == post.userId;other"> The author of this post {{user.name}}</div>
       </div> 
    </mat-expansion-panel>
  </mat-accordion>