<p *ngIf ="!(authors$ | async)">loading authors...</p>
<mat-selection-list #authors>
    <mat-list-option *ngFor="let author of authors$ | async" [value]="author.author">
      {{author.author}}
      <a routerLink="/editauthor/{{author.id}}/{{author.author}}" routerLinkActive="active">Edit Author</a>
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{authors.selectedOptions.selected.length}}
  </p>

  <form #addauthorForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder = "add Author" [(ngModel)] = "addAuthor"
                         name = "addAuthor">
        </mat-form-field>
        <br>
        <button type ="submit" mat-raised-button color="primary">Add New author</button>