<p *ngIf ="!(fsPosts$ | async)" >Loading Posts...</p>
<br>
<button type ="submit" mat-raised-button color="primary" routerLink ="/add-post">Add Post</button>
<br>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let fsPost of fsPosts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{fsPost.title}} 
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{fsPost.body}} The author of this post {{fsPost.username}} <button mat-raised-button class="btn btn-primary" [routerLink] = "['/add-post/'+fsPost.key]" >Edit</button>
      <button mat-raised-button class="btn btn-danger"  (click) = "delete(fsPost.key)">Delete</button>
    </mat-expansion-panel>
  </mat-accordion>
